/*
 * Users Table
 */
.table.table-admin-users tr > td,
.panel.panel-blog > .panel-body {
    padding-top: 30px;
    padding-bottom: 20px;
}
.panel.panel-blog > .panel-body {
    padding-bottom: 5px;
}
.table.table-admin-users tr:first-child > td {
    border-top: 0;
}
.table.table-admin-users tr > td > div,
.panel.panel-blog > .panel-body > div {
    padding-bottom: 10px;
}
.table.table-admin-users tr > td > div.cp-buttons,
.panel.panel-blog > .panel-body > div.cp-buttons {
    padding-top: 20px;
}
.panel.panel-blog > .panel-body > div.cp-buttons {
    padding-bottom: 20px;
}
.panel.panel-blog > .panel-body > div.cp-buttons select {
    float: left;
    width: 140px;
    margin-right: 3px;
}
.panel.panel-blog > .panel-body > div.cp-buttons .btn > .glyphicon {
    display: none;
}
@media (max-width: 767px){
    .table.table-admin-users tr > td > div > strong,
    .panel.panel-blog > .panel-body > div > strong {
        display: block;
        float: left;
        width: 150px;
    }
    .panel.panel-blog {
        margin-left: 10px;
        margin-right: 10px;
    }
    .table.table-admin-users tr > td > div.cp-buttons {
        padding-top: 15px;
    }
}
@media (max-width: 479px){
    .table.table-admin-users tr > td > div > strong {
        width: 120px;
    }
}
@media (max-width: 409px){
    .panel.panel-blog > .panel-body > div.cp-buttons .btn > span {
        display: none;
    }
    .panel.panel-blog > .panel-body > div.cp-buttons .btn > .glyphicon {
        display: inline;
    }
}
@media (max-width: 379px){
    .table.table-admin-users tr > td > div > strong {
        display: inline;
        float: unset;
    }
    .table.table-admin-users tr > td > div.cp-buttons,
    .panel.panel-blog > .panel-body > div.cp-buttons {
        padding-top: 10px;
    }
}
