.page-blog .panel-body  {
    padding: 15px 25px 10px;
}

.page-blog h1  {
    color: #444;
    font-size: 26px;
    margin-top: 15px;
}

.page-blog .blog-content  {
    
}

.page-blog .blog-content p:not(.lead),
.page-blog .blog-content ul>li,
.page-blog .blog-content ol>li {
    font-size: 16px;
}

.page-blog .blog-content p,
.page-blog .blog-content ul,
.page-blog .blog-content ol {
    margin-bottom: 20px;
}

.page-blog .blog-content p:last-child,
.page-blog .blog-content ul:last-child,
.page-blog .blog-content ol:last-child {
    margin-bottom: 0px;
}

.page-blog .blog-content p + ul,
.page-blog .blog-content p + ol {
    margin-top: -5px;
}

.page-blog .tags  {
    margin: 0;
}

.page-blog .tags a {
    color: #31708f;
    padding: 0 0 0 25px;
}

.page-blog .tags a:first-child {
    padding: 0;
}

.page-blog .tags a:hover {
    text-decoration: none;
}

.page-blog .blog-content .more  {
    margin: 25px 0 0;
}

.page-blog .blog-meta  {
    border-bottom: 1px solid #eee;
    font-size: 13px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-bottom: 18px;
    padding-left: 5px;
}

.page-blog .blog-header .blog-header-link {
    color: #555;
}

.page-blog .blog-header .blog-header-link:hover {
    color: #444;
}

.page-blog .blog-meta .blog-meta-link {
    color: #777;
    padding: 0 0 0 25px;
}

.page-blog .blog-meta .blog-meta-link:hover {
    color: #555;
    text-decoration: none;
}

.page-blog .panel-blog-comment {
    border-color: tan;
    margin-top: 30px;
}

.page-blog .panel-blog-comment button.close {
    color: darkred;
}

.page-blog .panel-blog-comment .panel-body {
    padding: 15px;
}

.page-blog .blog-comment-form .form-group {
    margin-bottom: 10px;
}

.page-blog .blog-comment-form textarea {
    background-color: whitesmoke;
}

#continue-reading {
    position: absolute;
    margin-top: -70px;
}