/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}
fieldset {
    border: 1px solid #ddd !important;
    margin: 0 0 20px 0;
    min-width: 0;
    padding: 10px;       
    position: relative;
    border-radius: 4px;
    padding-left: 10px !important;
}
legend {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    max-width: 90%; 
    width: auto; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 10px 5px 10px; 
    background-color: #ffffff;
}
.dl-horizontal dd {
    margin-left: 180px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 * Hide for mobile, show later 
 */
.sidebar {
    display: none;
}

.row.affix-row.collapse,
.row.affix-row.collapsing {
    display: initial;
}
.row.affix-row.collapse .affix-content {
    display: none;
}
.row.affix-row.collapse.in .affix-content,
.row.affix-row.collapsing .affix-content {
    display: initial;
}
.row.affix-row .affix-sidebar .navbar {
    margin-bottom: 0px;
}
@media (max-width: 767px) {
    .row.affix-row.collapse.in .affix-sidebar,
    .row.affix-row.collapsing .affix-sidebar {
        display: none;
    }
    .row.affix-row.collapsing {
        transition: none !important;
    }
}
/*
 * Cackle
 */
#mc-container .mc-share-cnt,
#mc-container .mc-head>ul>li.mc-user-menu>ul.mc-dropdown-menu>li {
    display: none;
}
#mc-container .mc-head>ul>li.mc-user-menu>ul.mc-dropdown-menu>li:first-child {
    display: initial;
}

/*
 * Draw Templates
 */
.draw-templates-list-group > .list-group-item,
.draw-modules-list-group > .list-group-item {
    height: auto;
    min-height: 160px;
    padding-bottom: 20px;
}
.draw-templates-list-group > .list-group-item:nth-of-type(odd),
.draw-modules-list-group > .list-group-item:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.draw-templates-list-group > .list-group-item > .container > div > .list-group-item-heading,
.draw-modules-list-group > .list-group-item > .container > div > .list-group-item-heading {
    margin-top: 15px;
    margin-bottom: 10px;
}
.thumbnail.draw-templates-thumbnail {
    padding: 0;
}
.thumbnail.draw-templates-thumbnail > .caption > h4 {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.thumbnail.draw-templates-thumbnail > .caption > p {
    height: auto;
    min-height: 80px;
    margin-bottom: 15px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .1em .2em;
    margin: .4em 0 .1em;
    line-height: 1;
}

/*
 * Utils
 */
a.no-link, a.no-link:hover, a.no-link:active, a.no-link:focus {
    color: inherit;
    text-decoration: inherit;
}
.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}
.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-mobile-block {
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 16px;
}
.navbar-mobile-block > span {
    color: snow;
    padding-right: 25px;
}
.navbar-mobile-block .no-link {
    position: relative;
    top: -2px;
}
.navbar-mobile-block .btn-round-xs {
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    position: relative;
    top: -3px;
}
@media (max-width: 399px) {
    .navbar-mobile-block > span {
        padding-right: 15px;
    }
    .navbar-mobile-block .no-link {
        padding: 6px;
        font-size: 85%;
        border: 1px solid snow;
        border-radius: 5px;
    }
    .navbar-mobile-block .btn-round-xs {
        display: none;
    }
}
@media (max-width: 439px) {
    .navbar-mobile-block .no-link {
        font-size: 90%;
    }
}
.text-weight-lighter {
    font-weight: 100;
}
.text-weight-normal {
    font-weight: 400;
}
.text-weight-bold {
    font-weight: 700;
}
.text-weight-bolder {
    font-weight: 900;
}
.xs-left {
    float: left !important;
}
.xs-right {
    float: right !important;
}
.row-fluid {
    margin-left: 0;
    margin-right: 0;
}

ul.nav-draw li > a > .nav-remove-span {
    display: inline-block;
    font-size: 85%;
    width: 12px;
    position: absolute;
    margin: 3px;
    right: 3px;
}
ul.nav-draw li > a > .nav-success-span {
    display: inline-block;
    font-size: 85%;
    width: 12px;
    position: absolute;
    margin: 3px;
    left: 1px;
}
ul.nav-draw li > a > .nav-success-span > .glyphicon-ok {
    color: limegreen;
}
ul.nav-draw li.active > a > .nav-success-span > .glyphicon-ok {
    color: lawngreen;
}
ul.nav-draw li > a > .nav-remove-span > .glyphicon-remove {
    color: silver;
}
ul.nav-draw li.active > a > .nav-remove-span > .glyphicon-remove {
    color: white;
}
ul.nav-draw li > a > .nav-remove-span > .glyphicon-remove:hover {
    color: chocolate;
}
ul.nav-tabs>li:first-child {
    margin-left: 10px;
}
.nav-text {
    display: inline-block;
    max-width: 155px;
}

/*
 * Panels
 */
.panels {
    margin-top: 5px;
}
.panel-plus-minus .panel-title:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.panel-plus-minus *[data-toggle="collapse"] .panel-title:after {
    content: '\2212';
    float: right;
}
.panel-plus-minus *[data-toggle="collapse"].collapsed .panel-title:after {
    content: '\2b';
}
.panel-fieldset {
    margin-bottom: 0px;
    border: none;
    box-shadow: none;
}
.panel-fieldset > .panel-body {
    padding-bottom: 0px;
}
.panel-fieldset.panel-checkbox .checkbox,
.panel-fieldset.panel-checkbox .radio {
    margin-top: 0px;
}
.panel-fieldset.panel-checkbox > .panel-body > .form-checkbox,
.panel-fieldset.panel-radio > .panel-body > .form-checkbox {
    padding-left: 0px;
    padding-right: 0px;
}

/*
 * Tables
 */
.table > tbody > tr > td {
    vertical-align: middle;
    padding: 10px;
}
.content-preloader {
    position: relative;
}
.content-preloader.active { 
    padding-bottom: 15px;
}
.tab-preloader.active {    
    min-height: 390px;
    padding-bottom: 0px;
}
.table-preloader.active {   
    min-height: 478px;
    padding-bottom: 0px;
}
.content-preloader .loader {
    position: absolute;
    display: none;
    background-color: ghostwhite;
    opacity: 0.5; /* Значение прозрачности */
    filter: alpha(Opacity=50); /* Прозрачность в IE */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content-preloader.active .loader {
    display: block;
}
.content-preloader .loader-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}
.table-panels > tbody > tr > td {
    border: 1px solid #ddd;
    border-top-width: 0;    
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}
.table-panels > tbody > tr > td:first-child {
    border-top-width: 1px;
}
.table-panels tr > td > div {
    padding-bottom: 10px;
}
.table-panels tr > td > div.cp-buttons {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 20px;
}
.table-panels tr > td > div.cp-buttons .btn {
    margin-left: 3px;
}
.table-panels tr > td > div.cp-buttons .btn:first-child {
    margin-left: 0px;
}
.table-panels tr > td > div > strong {
    padding-right: 5px;
}

/* Auto draw */
#draw_log .autodraw-name {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bolder;
}
#draw_log .autodraw-status {
    margin-bottom: 15px;
}
#draw_log .autodraw-name-wrapper {
    padding-top: 3px;
}
#draw_log .autodraw-date-wrapper {
    padding-top: 1px;
}
#draw_log .autodraw-status-wrapper {
    padding-top: 5px;
}
#draw_log .autodraw-actions-wrapper {
    text-align: left;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
}
#draw_log .autodraw-date-wrapper .badge {
    padding-left: 10px;
    padding-right: 10px;
}
#draw_log .autodraw-actions-wrapper .btn>.glyphicon {
    display: none;
}
#draw_log .autodraw-actions-wrapper .btn + .btn {
    margin-left: 5px;
}
#draw_log_delete > .form-group > label {
    font-weight: normal;
    padding-right: 6px;
}
@media (max-width: 767px) {
    #draw_log_delete > .form-group {
        margin-bottom: 15px;
    }
    #draw_log_delete > .form-group > label {
        font-weight: bold;
    }
}

#clientsSchedule form .form-group,
#clientsSchedule form .form-group div.checkbox {
    margin-bottom: 0px;
    margin-top: 15px;
}
#clientsSchedule form .form-group:first-child {
    margin-top: 0px;
}

#superCleanContainer .thumbnail .buttons .btn,
.superclean-uploader-form {
    display: none;
}
#superCleanContainer .thumbnail-empty .buttons .btn-upload,
#superCleanContainer .thumbnail-processed .buttons .btn-update,
#superCleanContainer .thumbnail-active .buttons .btn-test,
#superCleanContainer .thumbnail-active .buttons .btn-delete {
    display: inline-block;
}
#superCleanContainer .thumbnail table.table-status {
    margin-top: 15px;
}
#superCleanContainer .thumbnail table.table-status > tbody > tr >td {
    color: #777;
    padding-left: 0;
    padding-right: 0;
}
#superCleanContainer .thumbnail table.table-status > tbody > tr >td:first-child {
    width: 100px;
}
#superCleanContainer .thumbnail-active table.table-status > tbody > tr >td {
    color: inherit;
}

/* Services */
#servicesForm form.form-inline label {
    font-weight: normal;
    padding-right: 10px;
}
.fieldset-services {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.fieldset-services > legend {
    margin-left: -30px;
    margin-top: 2px;
    padding: 3px 7px;
    position: absolute;
}
.fieldset-services > legend2 {
    margin-left: -40px;
    margin-top: 2px;
    padding: 0px;
    position: absolute;
    border: none;
    margin-left: -32px;
    margin-top: 2px;
    padding: 3px 7px;
    position: absolute;
}
.fieldset-services .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.panel-services > .panel-body {
    padding: 6px 20px 0 20px;
}
.panel-services > .panel-body table tr td > div.row > div:first-child {
    font-weight: bold;
    padding-bottom: 5px;
}
.panel-services > .panel-body .table-services tr > td {
    padding: 10px 5px;
}
.panel-services > .panel-body .table-services tr:first-child > td {
    padding-top: 25px;
}
.panel-services > .panel-body .table-services > thead> tr > th {
    border-bottom-width: 0.5px;
}
.panel-services > .panel-body .table-services > thead> tr > th, 
.panel-services > .panel-body .table-services > thead> tr > th > h4 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.panel-services > .panel-body .table-services > thead > tr > td, 
.panel-services > .panel-body .table-services > thead > tr > th, 
.panel-services > .panel-body .table-services > tbody > tr > td, 
.panel-services > .panel-body .table-services > tbody > tr > th {
    border-top-width: 0;
}
.panel-services > .panel-footer {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}
@media (min-width: 992px){
    .panel-services > .panel-body table tr td > div.row > div:first-child {
        font-weight: normal;
        padding-bottom: initial;
    }
    .panel-services > .panel-body .table-services select.form-control {
        position: absolute;
        margin-top: -7px;
    }
}

/* Noty alert */
#noty-holder {
    width: 100%;
    bottom: -1px;
    font-weight: bold;
    z-index: 1051;
    text-align: center;
    position: fixed;
}
#noty-holder .noty-alert {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Checkout */
.checkout-wrapper {
    padding-top: 40px; 
    padding-bottom:40px; 
    background-color: #fafbfa;
}
.checkout {    
    background-color: #fff;
    border:1px solid #eaefe9;
    font-size: 14px;
}
.checkout .panel{
    margin-bottom: 0px;
}
.checkout-step {     
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 30px;
    position: relative;
}
.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
}
.checkout-step-title{
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block; 
    margin: 0px;
} 
.checout-address-step .form-group{
    margin-bottom: 18px;
    display: inline-block;
    width: 100%;
}
.checkout-step-body{
    padding: 15px 0;
}
.checkout-step-active{
    display: block;
}
.checkout-step-disabled{
    display: none;
}
.login-phone{display: inline-block;}
.login-phone:after {
    content: '+91 - ';
    font-size: 14px;
    left: 36px;
}
.login-phone:before {
    content: "";
    font-style: normal;
    color: #333;
    font-size: 18px;
    left: 12px;
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-phone:after, .login-phone:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-phone .form-control {
    padding-left: 68px;
    font-size: 14px;
    
}
.checkout-login .btn{height: 42px;     line-height: 1.8;}
 
.otp-verifaction{margin-top: 30px;}
.checkout-sidebar{background-color: #fff;
    border:1px solid #eaefe9; padding: 30px; margin-bottom: 30px;}
.checkout-sidebar-merchant-box{background-color: #fff;
    border:1px solid #eaefe9; margin-bottom: 30px;}
.checkout-total{border-bottom: 1px solid #eaefe9; padding-bottom: 10px;margin-bottom: 10px; }
.checkout-invoice{display: inline-block;
    width: 100%;}
.checout-invoice-title{    float: left; color: #30322f;}
.checout-invoice-price{    float: right; color: #30322f;}
.checkout-charges{display: inline-block;
    width: 100%;}
.checout-charges-title{float: left; }
.checout-charges-price{float: right;}
.charges-free{color: #43b02a; font-weight: 600;}
.checkout-payable{display: inline-block;
    width: 100%; color: #333;}
.checkout-payable-title{float: left; }
.checkout-payable-price{float: right;}

.checkout-cart-merchant-box{ padding: 20px;display: inline-block;width: 100%; border-bottom: 1px solid #eaefe9;
 padding-bottom: 20px; }
.checkout-cart-merchant-name{color: #30322f; float: left;}
.checkout-cart-merchant-item{ float: right; color: #30322f; }
.checkout-cart-products{}

.checkout-cart-products .checkout-charges{ padding: 10px 20px;
    color: #333;}
.checkout-cart-item{ border-bottom: 1px solid #eaefe9;
    box-sizing: border-box;
    display: table;
    font-size: 12px;
    padding: 22px 20px;
    width: 100%;}
 .checkout-item-list{}
.checkout-item-count{ float: left; }
.checkout-item-img{width: 60px; float: left;}
.checkout-item-name-box{ float: left; }
.checkout-item-title{ color: #30322f; font-size: 14px;  }
.checkout-item-unit{  }
.checkout-item-price{float: right;color: #30322f; font-size: 14px; font-weight: 600;}


.checkout-viewmore-btn{padding: 10px; text-align: center;}

.header-checkout-item{text-align: right; padding-top: 20px;}
.checkout-promise-item {
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 24px;
    color: #30322f;
}
.checkout-promise-item i{padding-right: 10px;color: #43b02a;}

@media (min-width: 768px) {
    .checkout-step-body{
        padding-left: 60px; 
        padding-top: 30px;
    }
}

/* Dinamic CSS Preloader */
.preloader-css {
   width:72px;
   height:8px;
   display:inline-block;
   padding:0px;
   text-align:left;
}
.preloader-css span {
   position:absolute;
   display:inline-block;
   width:8px;
   height:8px;
   border-radius:100%;
   background:#000000;
   opacity:0.2;
   -webkit-animation:preloader-css1 2s linear infinite alternate;
   animation:preloader-css1 2s linear infinite alternate;
}
.preloader-css span:nth-child(2) {animation-name:preloader-css2;-webkit-animation-name:preloader-css2;}
.preloader-css span:nth-child(3) {animation-name:preloader-css3;-webkit-animation-name:preloader-css3;}
.preloader-css span:nth-child(4) {animation-name:preloader-css4;-webkit-animation-name:preloader-css4;}
.preloader-css span:nth-child(5) {animation-name:preloader-css5;-webkit-animation-name:preloader-css5;}
@keyframes preloader-css1 {
   0% {margin-left:0px;}
   50% {margin-left:64px;}
   100% {margin-left:64px;}
}
@-webkit-keyframes preloader-css1 {
   0% {margin-left:0px;}
   50% {margin-left:64px;}
   100% {margin-left:64px;}
}
@keyframes preloader-css2 {
   0% {margin-left:0px;}
   37.5% {margin-left:48px;}
   87.5% {margin-left:48px;}
   100% {margin-left:64px;}
}
@-webkit-keyframes preloader-css2 {
   0% {margin-left:0px;}
   37.5% {margin-left:48px;}
   87.5% {margin-left:48px;}
   100% {margin-left:64px;}
}
@keyframes preloader-css3 {
   0% {margin-left:0px;}
   25% {margin-left:32px;}
   75% {margin-left:32px;}
   100% {margin-left:64px;}
}
@-webkit-keyframes preloader-css3 {
   0% {margin-left:0px;}
   25% {margin-left:32px;}
   75% {margin-left:32px;}
   100% {margin-left:64px;}
}
@keyframes preloader-css4 {
   0% {margin-left:0px;}
   12.5% {margin-left:16px;}
   62.5% {margin-left:16px;}
   100% {margin-left:64px;}
}
@-webkit-keyframes preloader-css4 {
   0% {margin-left:0px;}
   12.5% {margin-left:16px;}
   62.5% {margin-left:16px;}
   100% {margin-left:64px;}
}
@keyframes preloader-css5 {
   0% {margin-left:0px;}
   50% {margin-left:0px;}
   100% {margin-left:64px;}
}
@-webkit-keyframes preloader-css5 {
   0% {margin-left:0px;}
   50% {margin-left:0px;}
   100% {margin-left:64px;}
}

@media (max-width: 480px) {
    .hidden-xxs {
        display: none;
    }

    .row-fluid-xs {
        margin-left: 0;
        margin-right: 0;
    }

    .affix-content {
        padding-left: 5px;
        padding-right: 5px;
    }

    .affix-content .container .page-header {
        margin-top: 10px;
    }

    .affix-content .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .affix-content .container .col-md-12,
    .affix-content .container .col-lg-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .affix-content>.container>.row,
    .affix-content>.container>.tab-content>.tab-pane>.row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    ul.nav-tabs.nav-draw>li>a {
        background-color: ghostwhite;    
        border: 1px solid #ddd;
    }
    ul.nav-tabs.nav-draw>li.active>a {
        background-color: #fff;    
        border-bottom-color: transparent;
    }
    ul.nav-tabs.nav-draw>li>a.active {
        background-color: initial;
    }
    ul.nav-tabs.nav-tabs {
        margin-left: -5px;
        margin-right: -5px;
    }
    ul.nav-tabs.nav-tabs>li:first-child {
        margin-left: 12px;
    }
    .dropdown-menu>li>a {
        padding: 8px 20px;
    }
    .page-header-chat {
        display: none;
    }
    .nav-chat>li {
        float: left!important;
    }
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.affix-content .breadcrumb {
    margin: 0 0 15px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Sidebar
 */

.sidebar-nav .navbar li.active a{
    background-color: transparent;
    color: #333;
} 

.sidebar-nav .navbar li .nav-list li a {
    padding-left: 35px;
}

.affix-row, .affix-container, .affix-content{
    margin-left: 0;
    margin-right: 0;    
}

.affix-row, .affix-container{
    height: 100%;    
}

.affix-content{
    min-height: 100%;   
}

.affix-sidebar{
    padding-left: 0px;
    padding-right: 0px;  
}

@media (min-width: 340px){
    /* Auto draw */    
    #draw_log .autodraw-actions-wrapper .btn>.glyphicon {
        display: initial;
    }
}

@media (min-width: 768px){
    html,body{
        background-color: #f8f8f8;
        height: 100%;
    }

    .affix-sidebar{
        padding-left: 15px;
        padding-right: 15px;   
    }

    .affix-content .container {
        width: 100%;
    }   

    .affix-content .container .page-header{
        margin-top: 0;
    }

    .affix-sidebar{
        padding-right:0; 
        font-size:small;
        padding-left: 0;
    }  
    .affix-row, .affix-container, .affix-content{
        /*height: 100%;*/
        /*overflow-y: scroll;*/
        margin-left: 0;
        margin-right: 0;    
    } 
    .affix-content{
        background-color:white; 
    } 
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar{
        border-radius:0; 
        margin-bottom:0; 
        border:0;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    } 
    .sidebar-nav .navbar li.active a{
        background-color: #428bca;
        color: white;
    }    
    .thumbnail.draw-templates-thumbnail > h4 {
        font-size: 18px;
    }
   
    /* Auto draw */    
    #draw_log .autodraw-status {
        margin-bottom: 1px;
    }
    #draw_log .autodraw-date-wrapper {
        padding-top: 1px;
        text-align: right;
    }
    #draw_log .autodraw-status-wrapper {
        padding-top: 5px;
        text-align: right;
    }
    
    /*
     * Utils
     */
    .sm-left {
        float: left !important;
    }
    .sm-right {
        float: right !important;
    }
}

@media (min-width: 992px){
    .affix-content .container .page-header{
        margin-top: 0;
    } 
    .affix-content .breadcrumb {
        margin: 20px 0 15px;
    } 
    .thumbnail.draw-templates-thumbnail > h4 {
        font-size: 16px;
    }
    
    #draw_log .autodraw-name-wrapper {
        padding-top: 3px;
    }
    #draw_log .autodraw-date-wrapper {
        padding-top: 10px;
        text-align: center;
    }
    #draw_log .autodraw-status-wrapper {
        padding-top: 10px;
        text-align: right;
    }
    #draw_log .autodraw-actions-wrapper {
        padding-top: 10px;
        padding-bottom: 0px;
        margin-top: 0;
        border: none;
        
    }
    #draw_log .autodraw-status-wrapper .autodraw-status {
        text-align: right;
        padding-right: 10px;
    }
    #draw_log .autodraw-date-wrapper .badge {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /*
     * Utils
     */
    .md-left {
        float: left !important;
    }
    .md-right {
        float: right !important;
    }
}

@media (min-width: 1200px){
    .thumbnail.draw-templates-thumbnail > h4 {
        font-size: 18px;
    }
    
    /*
     * Utils
     */
    .lg-left {
        float: left !important;
    }
    .lg-right {
        float: right !important;
    }
    
    #draw_log .autodraw-name-wrapper {
        padding-top: 3px;
    }
    #draw_log .autodraw-date-wrapper {
        padding-top: 1px;
        text-align: left;
    }
    #draw_log .autodraw-status-wrapper {
        padding-top: 5px;
    }
    #draw_log .autodraw-actions-wrapper {
        text-align: right;
        padding-top: 10px;
    }
    #draw_log .autodraw-status-wrapper .autodraw-status {
        text-align: left;
    }
    #draw_log .autodraw-date-wrapper .badge {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1220px){

    .affix-content .container .page-header{
        margin-top: 0;
    }
    .affix-content{
        padding-right: 30px;
        padding-left: 30px;
    }  
    .affix-title{
        border-bottom: 1px solid #ecf0f1; 
        padding-bottom:10px;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-collapse{
        padding: 0;
    }
    .sidebar-nav .navbar li a:hover{
        background-color: transparent;
        color: #333;
    }
    .sidebar-nav .navbar li.active a:hover{
        background-color: #428bca;
        color: white;
    }
    .sidebar-nav .navbar li a > .caret {
        margin-top: 8px;
    }  
}

/*
 * Forms
 */
.form-group.form-checkbox {
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 34px;
}

.form-group.has-warning .input-group .form-control {
    color: #a94442;
}

/*
 * Breadcrumb
 */
.breadcrumb-list-group-header>.list-group-item>h3 {
    margin: 10px 0;
}

@media (max-width: 480px){
    .breadcrumb-list-group,
    .breadcrumb-list-group-header {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/*
 * Status label
 */
.label-module-card {
    background-color: #4BAE4F; 
    border: 1px solid #449d47; 
    color: yellow; 
    position: absolute; 
    top: 0; 
    right: 0px; 
    border-radius: 0 0 0 4px; 
    padding: 10px; 
    font-size: 12px;
}

.label-module-card-enable {
    background-color: #4BAE4F; 
    border: 1px solid #449d47; 
    color: yellow;
}

.label-module-card-pause {
    background-color: #FEEA3A; 
    border: 1px solid #e4d235; 
    color: darkgoldenrod;
}

.form-control.form-control-date {
    float: left;
}

.form-control.form-control-date-day {
    width: 24%;
    max-width: 70px;
}

.form-control.form-control-date-month {
    width: 50%;
    margin-left: 3px;
    max-width: 120px;
}

.form-control.form-control-date-year {
    width: 24%;
    margin-left: 3px;
    max-width: 80px;
}
